@font-face {
    font-family: 'inter';
    src: url("./fonts/Inter-Bold.woff2") format("woff2");
}
@font-face {
    font-family: 'open';
    src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
}

.home-title {
    display: block;
    font-family: inter;
    font-size: 2rem;
    padding: 1rem;
    padding-left: 4rem;
    margin: auto;
    color: #7848c5;
}
.step-img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 2rem;
    margin: auto;
}
.step-text1 {
    font-family: inter;
    font-size: 1.5rem;
    padding: 1rem;
    color: #7848c5;
}
.step-text2 {
    font-family: inter;
    font-size: 1.5rem;
    padding: 1rem;
}
.step-text3 {
    font-family: inter;
    font-size: 1.5rem;
    padding: 1rem;
}
.step-text4 {
    font-family: inter;
    font-size: 1.5rem;
    padding: 1rem;
}
.link-text {
    font-family: inter;
    font-size: 1rem;
    padding-left: 8rem;
}
a:link,
:visited {
    color: #1f1f1f;
    text-decoration: none;
}
.lists-text {
    font-family: open;
    line-height: 2rem;
}
.step-text1 {
    padding-bottom: 0rem;
}
.step-text {
    font-family: inter;
    font-size: 1.5rem;
    padding: 1rem;
    color: #7848c5;
}
/* desktop css*/
@media (min-width:768px) {
    .home-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "h1 h2 h3 h4";
            
    }
.step1_1 {
    grid-area: h1;
    padding: 3rem;
}
.step2_2 {
    grid-area: h2;
    padding: 3rem;
}
.step3_3 {
    grid-area: h3;
    padding: 3rem;
}
.step4_4 {
    grid-area: h4;
    padding: 3rem;
}
.home-title {
    padding-left: 33rem;
}
.link-text {
    padding-left: 41rem;
}
}
@media (min-width:768px) {
    .works {
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "w1 w2 w3 w4"     
    }
.works1 {
    grid-area: w1;
    padding-left: 5rem;
}
.works2 {
    grid-area: w2;

}
.works3 {
    grid-area: w3;

}
.works4 {
    grid-area: w4;

}
.home-title {
font-size: 4rem;
padding-left: 30rem;
}
}
